*cache*
*temp*
data/*/
logs/*
*tmp*
**/*.log
**/*.zip
**/*.in
core.*
*out.*
**/*.tar.*
*.ipynb_checkpoints
*.tamulauncher*
*.vscode
**/tutorial*
assets/
notebooks/
scripts/
sigmap.egg-info/
*test*
job*